body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    text-decoration: none;
}
